USE [master]
GO
/****** Object:  Database [Attendance_Web_Project]    Script Date: 12/12/2021 10:42:15 AM ******/
CREATE DATABASE [Attendance_Web_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Attendance_Web_Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HIEU\MSSQL\DATA\Attendance_Web_Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Attendance_Web_Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HIEU\MSSQL\DATA\Attendance_Web_Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Attendance_Web_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Attendance_Web_Project]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/12/2021 10:42:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](150) NOT NULL,
	[password] [varchar](150) NOT NULL,
	[displayname] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 12/12/2021 10:42:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[aid] [int] IDENTITY(1,1) NOT NULL,
	[sid] [int] NOT NULL,
	[atd] [date] NOT NULL,
	[present] [bit] NOT NULL,
	[cid] [int] NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 12/12/2021 10:42:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[cid] [int] NOT NULL,
	[cname] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturers_And_Courses]    Script Date: 12/12/2021 10:42:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturers_And_Courses](
	[username] [varchar](150) NOT NULL,
	[cid] [int] NOT NULL,
 CONSTRAINT [PK_Lecturers_And_Courses] PRIMARY KEY CLUSTERED 
(
	[username] ASC,
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 12/12/2021 10:42:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[rid] [int] NOT NULL,
	[title] [varchar](150) NOT NULL,
	[username] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 12/12/2021 10:42:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[sid] [int] NOT NULL,
	[image] [varchar](100) NOT NULL,
	[fname] [varchar](50) NULL,
	[lname] [varchar](50) NOT NULL,
	[gender] [bit] NOT NULL,
	[dob] [date] NOT NULL,
	[cid] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [password], [displayname]) VALUES (N'haku1404', N'hieu1404', N'Dahlia')
INSERT [dbo].[Account] ([username], [password], [displayname]) VALUES (N'hdtl2503', N'long2503', N'Dragon')
INSERT [dbo].[Account] ([username], [password], [displayname]) VALUES (N'touru2901', N'dat2901', N'Hanatouru')
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([aid], [sid], [atd], [present], [cid]) VALUES (295, 1, CAST(N'2021-12-12' AS Date), 0, 1)
INSERT [dbo].[Attendance] ([aid], [sid], [atd], [present], [cid]) VALUES (296, 2, CAST(N'2021-12-12' AS Date), 1, 1)
INSERT [dbo].[Attendance] ([aid], [sid], [atd], [present], [cid]) VALUES (297, 3, CAST(N'2021-12-12' AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[Attendance] OFF
INSERT [dbo].[Class] ([cid], [cname]) VALUES (1, N'Class1')
INSERT [dbo].[Class] ([cid], [cname]) VALUES (2, N'Class2')
INSERT [dbo].[Class] ([cid], [cname]) VALUES (3, N'Class3')
INSERT [dbo].[Lecturers_And_Courses] ([username], [cid]) VALUES (N'haku1404', 1)
INSERT [dbo].[Lecturers_And_Courses] ([username], [cid]) VALUES (N'haku1404', 2)
INSERT [dbo].[Lecturers_And_Courses] ([username], [cid]) VALUES (N'haku1404', 3)
INSERT [dbo].[Request] ([rid], [title], [username]) VALUES (1, N'Class1', N'haku1404')
INSERT [dbo].[Request] ([rid], [title], [username]) VALUES (2, N'Class2', N'haku1404')
INSERT [dbo].[Request] ([rid], [title], [username]) VALUES (3, N'Class3', N'haku1404')
INSERT [dbo].[Student] ([sid], [image], [fname], [lname], [gender], [dob], [cid]) VALUES (1, N'Image/Attack on Titan/Erwin Smith.jpg', N'Erwin', N'Smith', 1, CAST(N'2000-01-01' AS Date), 1)
INSERT [dbo].[Student] ([sid], [image], [fname], [lname], [gender], [dob], [cid]) VALUES (2, N'Image/Attack on Titan/Annie Leoheart.jpg', N'Annie', N'Leohart', 0, CAST(N'2000-01-02' AS Date), 1)
INSERT [dbo].[Student] ([sid], [image], [fname], [lname], [gender], [dob], [cid]) VALUES (3, N'Image/Attack on Titan/Armin Arlert.jpg', N'Armin', N'Arlert', 1, CAST(N'2000-01-03' AS Date), 1)
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Class] FOREIGN KEY([cid])
REFERENCES [dbo].[Class] ([cid])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Class]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Student] FOREIGN KEY([sid])
REFERENCES [dbo].[Student] ([sid])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Student]
GO
ALTER TABLE [dbo].[Lecturers_And_Courses]  WITH CHECK ADD  CONSTRAINT [FK_Lecturers_And_Courses_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Lecturers_And_Courses] CHECK CONSTRAINT [FK_Lecturers_And_Courses_Account]
GO
ALTER TABLE [dbo].[Lecturers_And_Courses]  WITH CHECK ADD  CONSTRAINT [FK_Lecturers_And_Courses_Class] FOREIGN KEY([cid])
REFERENCES [dbo].[Class] ([cid])
GO
ALTER TABLE [dbo].[Lecturers_And_Courses] CHECK CONSTRAINT [FK_Lecturers_And_Courses_Class]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Class] FOREIGN KEY([cid])
REFERENCES [dbo].[Class] ([cid])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Class]
GO
USE [master]
GO
